.checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
}

.checkbox input[type='checkbox'] {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.checkbox span {
  font-size: 0.65rem;
  color: var(--text-muted);
}
